@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Estilo geral */
body {
  margin: 0;
  background: linear-gradient(to bottom, #8123ce, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', monospace;
  color: #f8f8f2;
  user-select: none;
  flex-direction: column;
  padding: 20px;
}

canvas {
  image-rendering: pixelated;
  background: #4552e6;
  border: 8px solid #271e1ea4;
  box-sizing: border-box;
  margin-bottom: 20px;
  max-width: 90vw;
  height: auto;
}

#score {
  font-size: 20px;
  color: #ff69ebff;
  margin-bottom: 16px;
}

#titulo {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 12px;
  text-align: center;
}

#creditos {
  font-size: 10px;
  color: #6272a4;
  margin-top: 20px;
  text-align: center;
}

#premio {
  text-align: center;
  position: relative;
  color: #fbff28;
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
}
